h1.FourZeroFour {
    text-align: center;
}

h1.FourZeroFour span {
    display: block;
}

h1.FourZeroFour .green {
    font-size: 5em;
}

h1.FourZeroFour .blue {
    font-size: 1em;
}

.green {
    color: #00b6a5;
    /* Temporary Hack */
    overflow-y: hidden;
}

.blue, a {
    color: #1b75bb;
}

p.FourZeroFour, ul.FourZeroFour {
    line-height: 1.6em;
    /*max-width: 600px;*/
    margin: 0 auto 20px auto;
}

ul.FourZeroFour {
    list-style-type: square;
    list-style-position: inside;
    text-align: left;
}

blockquote.FourZeroFour {
    color: #999;
    max-width: 550px;
    line-height: 1.6em;
    margin: 0 auto;
    text-align: left;
}
