.malayalam_para {
    font-family: 'Manjari';
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.profile_img {
    width: 225px;
    height: 273px;
    background-image: url('//spechide.shrimadhavuk.me/img/aboutme/photo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.cover_img {
    background: url('//spechide.shrimadhavuk.me/img/aboutme/cover.jpg') top left no-repeat #666666;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5%;
}

/* https://www.w3schools.com/howto/howto_css_block_buttons.asp */

.btn {
  display: block;
  width: 100%;
  border: none;
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  margin-top: 1em;
}

/* https://css-tricks.com/iron-mans-arc-reactor-using-css3-transforms-and-animations/ */

.fullpage-wrapper {
  width: 100%;
  height: 80vh;
  /*background: radial-gradient(#353c44, #222931);*/
  display: flex;
}
.reactor-container {
  width: 300px;
  height: 300px;
  margin: auto;
  border: 1px dashed #888;
  position: relative;
  border-radius: 50%;
  background-color: #384c50;
  border: 1px solid rgb(18, 20, 20);
  box-shadow: 0px 0px 32px 8px rgb(18, 20, 20), 0px 0px 4px 1px rgb(18, 20, 20) inset;
}
.reactor-container-inner {
  height: 238px;
  width: 238px;
  background-color: rgb(22, 26, 27);;
  box-shadow: 0px 0px 4px 1px #52FEFE;
}

.circle {
  border-radius: 50%;
}
.abs-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.core-inner {
  width: 70px;
  height: 70px;
  border: 5px solid #1B4E5F;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 7px 5px #52FEFE, 0px 0px 10px 10px #52FEFE inset;
}
.core-outer {
  width: 120px;
  height: 120px;
  border: 1px solid #52FEFE;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 2px 1px #52FEFE, 0px 0px 10px 5px #52FEFE inset;
}
.core-wrapper {
  width: 180px;
  height: 180px;
  background-color: #073c4b;
  box-shadow: 0px 0px 5px 4px #52FEFE, 0px 0px 6px 2px #52FEFE inset;
}
.tunnel {
  width: 220px;
  height: 220px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px 1px #52FEFE, 0px 0px 5px 4px #52FEFE inset;
}
.coil-container {
  position: relative;
  width: 100%;
  height: 100%;
  animation: 3s infinite linear reactor-anim;
}
.coil {
  position: absolute;
  width: 30px;
  height: 20px;
  top: calc(50% - 110px);
  left: calc(50% - 15px);
  transform-origin: 15px 110px;
  background-color:#073c4b;
  box-shadow: 0px 0px 5px #52FEFE inset;
}
.coil-1 {
  transform: rotate(0deg);
}
.coil-2 {
  transform: rotate(45deg);
}
.coil-3 {
  transform: rotate(90deg);
}
.coil-4 {
  transform: rotate(135deg);
}
.coil-5 {
  transform: rotate(180deg);
}
.coil-6 {
  transform: rotate(225deg);
}
.coil-7 {
  transform: rotate(270deg);
}
.coil-8 {
  transform: rotate(315deg);
}
@keyframes reactor-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
