extends ../layout.pug

block content
    div(style='height:50px;')
    div(style='max-width: 800px; margin: 2em auto;')
        h1.FourZeroFour
            span.green 404
            span.blue Page Not Found
        //
            <p>One of the following things could have happened:</p>
            <ul class="FourZeroFour">
            <li>The URL is wrong.</li>
            <li>The page you're looking for never existed, doesn't exist or is having an existential crisis.</li>
            <li>If you're looking for an offer: it might have been deleted, archived or might be under moderation.</li>
            <li>Smeagol took it away. Gollum! Gollum!</li>
            </ul>
        p.FourZeroFour
            a(href='/') ← Go back to /
        blockquote.FourZeroFour
            strong "But I don't want to go among 404 pages,"
            |  Alice remarked.
            br/
            strong "Oh, you can't help that,"
            |  said the Cat:
            strong "we're all 404 here. I'm a 404. You're a 404."
            br/
            strong "How do you know I'm a 404?"
            |  said Alice.
            br/
            strong "You must be,"
            |  said the Cat,
            strong "or you wouldn't have come here."
