extends ../layout.pug

mixin radio(name,label)
    .row.middle-xs
        .col-md-3.col-xs-2
            block
        .col-xs
            p=label

block content

    h2.text-center
        | Give me Anonymous FeedBack, or give me the
        a#FillMeriSB(style='text-decoration:none;cursor: crosshair;', href='/slambook.html')
            emp real &nbsp;
        | feedback!

    h4.text-right
        | not all questions are mandatory!

    form#feedBackForm(role='form', accept-charset='UTF-8', method='POST', onsubmit='doSubmitFB(); return false;')
        .formrow
            label(for='email') Electronic Mail ID (NOT REQUIRED):
            input#email.form-control(type='email', name='email')

        .formrow
            label(for='name') Nick Name (NOT REQUIRED):
            input#name.form-control(type='text', name='name', placeholder='nickname')

        .formrow
            label(for='feeds') FeedBack:
            textarea#feeds.form-control(rows='5', name='feeds')

        label
            | For faster replies, try the
            a(href='https://telegram.dog/shriMADhaBot')
                Telegram Bot
            | .

        button.btn.btn-default(type='submit') Save the Entries

block scripts
    //- These are executed only after the BASE scripts are done loading!
    script(type="text/javascript").
        console.log("OK! Loaded.");
