extends ../layout.pug

block content
    .row
        .col-md-6
            a#Anm0usFB.btn.btn-default(href='/anonym0us.html') Anonymous FeedBack Message
        .col-md-6
            a#FillMeriSB.btn.btn-default(href='/slambook.html') Fill My SlamBook!
    // https://css-tricks.com/iron-mans-arc-reactor-using-css3-transforms-and-animations/
    .row
        .container-fluid
            .fullpage-wrapper
                .reactor-container
                    .reactor-container-inner.circle.abs-center
                    .tunnel.circle.abs-center
                    .core-wrapper.circle.abs-center
                    .core-outer.circle.abs-center
                    .core-inner.circle.abs-center
                    .coil-container
                        .coil.coil-1
                        .coil.coil-2
                        .coil.coil-3
                        .coil.coil-4
                        .coil.coil-5
                        .coil.coil-6
                        .coil.coil-7
                        .coil.coil-8
    .row
        .col-md-6
            a.btn.btn-default(href='/slambook.html') Fill My SlamBook!
        .col-md-6
            a.btn.btn-default(href='/anonym0us.html') Anonymous FeedBack Message

block scripts
    //- These are executed only after the BASE scripts are done loading!
    script(type="text/javascript").
        console.log("OK! Loaded.");
