extends ../layout.pug

mixin radio(name,label)
    .row.middle-xs
        .col-md-3.col-xs-2
            block
        .col-xs
            p=label

block content

    h2.text-center
        | Give me Real FeedBack, or if you want to give
        a#Anm0usFB(style='text-decoration:none;cursor: crosshair;', href='/anonym0us.html')
            emp anonymous &nbsp;
        | feedback!

    h4.text-right
        | not all questions are mandatory!

    form#slamBookForm(role='form', accept-charset='UTF-8', method='POST', onsubmit='doSubmitSB(); return false;')
        .formrow
            label(for='email') Electronic Mail ID:
            input#email.form-control(type='email', name='email')

        .formrow
            label(for='nickname') Nick Name:
            input#nickname.form-control(type='text', name='nickname', placeholder='nickname', required='')

        .formrow
            label(for='first_name') First Name:
            input#first_name.form-control(type='text', name='first_name')

        .formrow
            label(for='middle_name') Middle Name:
            input#middle_name.form-control(type='text', name='middle_name')

        .formrow
            label(for='last_name') Last Name:
            input#last_name.form-control(type='text', name='last_name')

        .formrow
            label(for='dob') The day you landed on this earth (Date of Birth):
            input#dob.form-control(type='date', name='dob')

        .formrow
            label(for='gender') Gender:
            select#gender.form-control(name='gender')
                option(value='-') -
                option(value='Male') Male
                option(value='FeMale') Female

        .formrow
            label(for='zodiac_sign') Zodiac Sign:
            input#zodiac_sign.form-control(type='text', name='zodiac_sign')

        #useless_questions
            h4.text-center L o a d i n g Q u e s t i o n s

        button.btn.btn-default(type='submit') Save the Entries

block scripts
    //- These are executed only after the BASE scripts are done loading!
    script(type="text/javascript").
        console.log("OK! Loaded.");
        function initMap() {
            getQuestions();
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 8,
                center: {
                    lat: -34.397,
                    lng: 150.644
                }
            });
            var geocoder = new google.maps.Geocoder();
            document.getElementById("addr_pinno").addEventListener("blur", function() {
                geocodeAddress(geocoder, map);
            });
        }
    //- this is Required for Reverse GeoCoding to work
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBNXNy0r8-G1tivoTF8ZN0u2e2AsQfBiF8&callback=initMap')
