// modal for displaying help contents
#helpMeModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') &times;
                h4.modal-title
                    // intentionally left blank
            .modal-body
                // intentionally left blank
                //- .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
