//- Compiled CSS
link(rel='stylesheet', href='css/vendor.css')/

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5shiv.js"></script>
    <script type="text/javascript" src="js/respond.js"></script>
<![endif]-->

//- the files in the css directory are added here on grunt serve
link(rel='stylesheet', href='css/index.css')/
