// the Original SEO
meta(name='description', content='@SpEcHlDe is what @SpEcHIDe does!')/
meta(name='keywords', content='relevant, keywords, appear, here')/
meta(name='author', content='Shrimadhav U K')/
// if each site makes their own METAs, then ...?
link(rel='canonical', href='http://www.shrimadhavuk.me/')/
// OpenGraph
meta(property='og:type', content='article')/
meta(property='article:author', content='https://www.facebook.com/1631255353')/
meta(property='article:publisher', content='https://www.facebook.com/1631255353')/
meta(property='og:locale', content='en_IN')/
meta(property='og:image', content='https://spechide.shrimadhavuk.me/img/aboutme/photo.png')/
meta(property='fb:app_id', content='241804676227385')/
meta(property='fb:admins', content='1631255353')/
meta(property='og:image:width', content='182')/
meta(property='og:image:height', content='273')/
meta(property='og:title', content='Shrimadhav U K')/
meta(property='og:description', content='@SpEcHlDe is what @SpEcHIDe does!')/
meta(property='og:url', content='http://www.shrimadhavuk.me/')/
// Twitter Cards
meta(name='twitter:card', content='summary')/
meta(name='twitter:site', content='@SpEcHiDe')/
meta(name='twitter:creator', content='@SpEcHiDe')/
meta(name='twitter:title', content='Shrimadhav U K')/
meta(name='twitter:description', content='@SpEcHlDe is what @SpEcHIDe does!')/
meta(name='twitter:image', content='https://spechide.shrimadhavuk.me/img/aboutme/photo.png')/
meta(name='twitter:image:alt', content='Shrimadhav U K')/
// Google Plus Author Info
link(rel='author', href='https://plus.google.com/104708839037568086407')/
// Google Structured data markup
script(type='application/ld+json').
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Palakkad",
            "addressRegion": "KL",
            "postalCode": "678009"
        },
        "email": "mailto:shrimadhavuk@gmail.com",
        "image": "https://spechide.shrimadhavuk.me/img/aboutme/photo.png",
        "jobTitle": "Student",
        "name": "Shrimadhav U K",
        "url": "https://www.shrimadhavuk.me",
        "sameAs": [
          "https://joindiaspora.com/u/spechide",
          "https://www.facebook.com/shrimadhav",
          "https://www.linkedin.com/in/shrimadhav/",
          "https://twitter.com/SpEcHiDe",
          "https://www.youtube.com/channel/UC_00hnq7EVg0-b_OFjokyxw",
          "https://github.com/SpEcHiDe",
          "https://gitlab.com/SpEcHiDe"
        ]
    }
script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Shrimadhav U K",
      "url": "http://www.shrimadhavuk.me"
    }
