doctype
html(lang='ml')
    head
        include ./templates/head_inwrapper
        include ./templates/meta_seo
        title Shrimadhav U K
        include ./templates/css
        include ./templates/meta_favicons
    body
        #main.container
            block content
        include ./templates/BSModal
        include ./templates/js
        block scripts
